//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/squared-material-red.rasi"
//@theme "/usr/share/rofi/themes/rounded-orange-dark.rasi"
@theme "/usr/share/rofi/themes/rounded-nord-dark.rasi"
